
// VARS
@fontSize: 18px;
@fontFamilyDefault: cabin, Tahoma, Verdana, Arial;

@formColor: #555555;


@errorColor: rgb(234, 26, 26);
@textShadowColor: rgba(255,255,255, 0.6);

@askgodorange: rgb(244, 111, 32);

@errorColor: @askgodorange;
@textShadowColor: rgba(0,0,0,0.6);


@formBackgroundTransparent: rgba(192, 192, 222, 0.7);

@mainColumnWidth: 660px;
@mainColumnWidth: 480px;

@smallDeviceMediaWidth: 480px;
@fontSizeSmaller: 18px;




// MIXINS

// placeholder overrides
.placeholderOverridesChildren(@opacity, @color) {
    ::-webkit-input-placeholder {
        opacity: @opacity; color: @color;
    }
    ::-moz-placeholder {
        opacity: @opacity; color: @color;
    }
    :-moz-placeholder {
        opacity: @opacity; color: @color;
    }
    ::-ms-input-placeholder {
        opacity: @opacity; color: @color;
    }	/* IE10+ */
}

.placeholderOverrides(@opacity, @color) {
    &::-webkit-input-placeholder {
        opacity: @opacity; color: @color;
    }
    &::-moz-placeholder {
        opacity: @opacity; color: @color;
    }
    &:-moz-placeholder {
        opacity: @opacity; color: @color;
    }
    &::-ms-input-placeholder {
        opacity: @opacity; color: @color;
    }	/* IE10+ */
}


.smallScreenRules(@rules) {
    @media all and (max-width: @smallDeviceMediaWidth) {
        @rules();
    }
}


.centerColumn {

    position: relative;
    margin: 0 auto;
    width: @mainColumnWidth;
    max-width: 96%;

    padding: 1em 1em 3em 1em; // margin-collapse fix as well

    @media all and (max-width: @smallDeviceMediaWidth) {
        padding: 1em .4em 3em;
    }
}


//
// ----- FONTS -----
//
.fontFaceSquirrelGenerated(@fontname, @filename, @svgid, @weight: normal, @style: normal) {
    font-family: @fontname;
    src: url('fonts/@{filename}.eot');
    src: url('fonts/@{filename}.eot?#iefix') format('embedded-opentype'),
    url('fonts/@{filename}.woff') format('woff'),
    url('fonts/@{filename}.ttf') format('truetype'),
    url('fonts/@{filename}.svg#@{svgid}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    .fontFaceSquirrelGenerated('cabin', 'cabin-regular-webfont', 'cabinregular');
}





/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;

    min-height: 100%;

    font-family: @fontFamilyDefault;
    font-size: @fontSize;
    color: #ffffff;

    background-color: #0044ba;

    background-image: url('../img/bg.clouds.2332.1448.jpg');
    background-repeat: repeat;
    background-position: center top;
    // background-size: 100% auto;
    background-size: auto auto;

    &.verticallarger {
        // background-size: auto 100%;
        background-size: auto auto;
    }
}

#clouds
{
    position: fixed;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;

    .cloud {

        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);

        translateZ: 0;
        position: absolute;

        img {
            position: absolute;
            top: 0px; left: 0px;
            width: 100%;
        }
    }

    @fullWidth: 2332;
    @cloudWidth1: 609 / @fullWidth * 100%;
    @cloudWidth2: 1089 / @fullWidth * 100%;
    @cloudWidth3: 1024 / @fullWidth * 100%;
    @cloudWidth4: 1491 / @fullWidth * 100%;
    @cloudWidth5: 1171 / @fullWidth * 100%;

    .cloud1 { width: @cloudWidth1; left: -100%; }
    .cloud2 { width: @cloudWidth2; left: -100%; }
    .cloud3 { width: @cloudWidth3; left: -100%; }
    .cloud4 { width: @cloudWidth4; left: -100%; }
    .cloud5 { width: @cloudWidth5; left: -100%; }

}













//
// ---------- GENERAL STYLES
//

a {
    color: white;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}



.button {

    -webkit-appearance: none;

    position: relative;
    display: inline-block;

    border-radius: 0px;

    background: none;
    border: 1px solid #ffffff;
    color: white;

    cursor: pointer;

    font-size: @fontSize;
    padding: .2em 1em .1em;

    &:hover, &:focus {
        background-color: rgba(0,0,0,0.2);
    }
}








// help get our font sizes OK on mobile (iOS) as not to cause zooming
// IF we want bigger in places, then we need to be more specific later
// select, textarea, input[type="text"],   input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
// select:focus, textarea:focus, input:focus
// { font-size: 16px; }


#contentbg {
    display: block;
    position: fixed;
    margin: 0 auto;
    height: 100%;

    width: @mainColumnWidth;
    margin-left: -(@mainColumnWidth / 2);
    left: 50%;

    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);

    @media all and (max-width: @smallDeviceMediaWidth) {
        position: absolute;
        top: 0px; left: 0px; width: 100%; height: 100%;
        margin-left: 0px;
    }

}


#header {

    .centerColumn();

    padding-top: 2em;
    padding-bottom: 0;

    @media all and (max-width: @smallDeviceMediaWidth) {
        padding-top: 2em;
        padding-bottom: 0;
    }



    #askgodlogo {

        position: relative;
        display: block;
        margin: .2em auto .2em;
        width: 100%;

        text-align: center;

        img {
            position: relative;
            display: inline;
//            width: 417px;
//            max-width: 80%;
            width: 100%;
        }

    }


    #nav {

        position: relative;
        display: block;
        text-align: right;

        #navlinks {

            float:right;
            width: auto;
            text-align: right;
            margin-left: 0.4em;

            a {
                display: inline;
                margin: 0 0 0 .5em;
            }

        }

        #navline {
            overflow: hidden; /* Creates a new block format context, which will make this tag fill the remaining width */

            background-color: #ffffff;
            content: '';
            height: 1px;
            position: relative;
            top: 0.6em;
        }

        &:after {
            content: '';
            clear: both;
            display: block;
        }

    }

}


.content {

    .centerColumn();

    padding-top: 1em;

    min-height: 100%;
    background-color: transparent;

    input[type=text], input[type=email], input[type=password], textarea {

        -webkit-appearance: none;

        display: block;

        border-radius: .8em;
        padding: .4em .8em .3em;
        border: 2px solid transparent;

        font-family: @fontFamilyDefault;
        font-size: @fontSize;

        @media all and (max-width: @smallDeviceMediaWidth) {
            font-size: @fontSizeSmaller;
        }

        margin: 0;

        background-color: rgb(128, 128, 255);
        background-color: @formBackgroundTransparent;

        color: rgb(255, 255, 255);

        width: 100%;
        resize: none;

        &:focus {
            outline: none;
            background-color: rgb(255,255,255);
            color: @formColor;
            .placeholderOverrides(1, #666666);
        }

        &::autocomplete {
            background-color: rgb(255,255,255);
        }

        &::autofill {
            background-color: rgb(255,255,255);
        }
    }

    textarea {
        height: 10em;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
        overflow: auto;

        background-color: rgba(216, 216, 244, 0.85);
        color: #333333;

        .placeholderOverrides(1, #333333);

        &:focus {
            background-color: rgb(255,255,255);
        }

    }

    .placeholderOverridesChildren(1, #ffffff);

    p {
        position: relative;
        text-overflow: ellipsis;
        background: purple;
    }



    .container {

        display: block;
        position: relative;
        margin-bottom: 0.5em;

        label.formlabel {
            display: block;
            position: relative;
            padding: .2em 1em;
            font-size:  @fontSize * .85;
            font-weight: bold;
            opacity: 0;
        }

        &.rightalign {
            text-align: right;
            padding-right: 1em;
        }

        &.centeralign {
            text-align: center;
            padding: 0 1em;
        }

    }


    form {
        position: relative;
        display: block;
    }


    input.error, textarea.error {
        border: 2px solid @errorColor;
    }

    label.error {
        color: @errorColor;
        position: absolute;
        top: 0em;
        right: .8em;

        padding: .2em .5em;

        // background-color: @formBackgroundTransparent;

        border-top-left-radius: .3em;
        border-top-right-radius: .3em;

        font-size: @fontSize * .85;
        font-weight: bold;

        text-shadow: 0px 1px 1px @textShadowColor;


        @media all and (max-width: @smallDeviceMediaWidth) {
            position: relative;
            border-top-left-radius: 0em;
            border-top-right-radius: 0em;
            border-bottom-left-radius: .3em;
            border-bottom-right-radius: .3em;
            top: auto;
            right: auto;
            display: block;
            width: 85%;
            margin: 0em auto 0;
        }
    }



}





// index
#indexpage {

    #submitcontainer {
        margin-top: 1.5em;
    }

}


#adminlogin {

    #submitcontainer {
        margin-top: 1.5em;
    }

}



