.centerColumn {
  position: relative;
  margin: 0 auto;
  width: 480px;
  max-width: 96%;
  padding: 1em 1em;
}
@media all and (max-width: 480px) {
  .centerColumn {
    padding: 1em .4em 1em;
  }
}
@font-face {
  font-family: 'cabin';
  src: url('fonts/cabin-regular-webfont.eot');
  src: url('fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cabin-regular-webfont.woff') format('woff'), url('fonts/cabin-regular-webfont.ttf') format('truetype'), url('fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: cabin, Tahoma, Verdana, Arial;
  font-size: 18px;
  color: #ffffff;
  background: #2182ff;
  background-image: url('../img/clouds.500.dither90.lossy10.149frames.12fps.gif');
  background-repeat: repeat;
  background-position: center 0;
  background-size: 100% auto;
}
body.verticallarger {
  background-size: auto 100%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.button {
  position: relative;
  display: inline-block;
  border-radius: 0px;
  background: none;
  border: 1px solid #ffffff;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: .2em 1em .1em;
}
.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
#contentbg {
  display: block;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 480px;
  margin-left: -240px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 480px) {
  #contentbg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
}
#header {
  position: relative;
  margin: 0 auto;
  width: 480px;
  max-width: 96%;
  padding: 1em 1em;
  padding-top: 2em;
  padding-bottom: 0;
}
@media all and (max-width: 480px) {
  #header {
    padding: 1em .4em 1em;
  }
}
@media all and (max-width: 480px) {
  #header {
    padding-top: 2em;
    padding-bottom: 0;
  }
}
#header #askgodlogo {
  position: relative;
  display: block;
  margin: .2em auto .2em;
  width: 100%;
  text-align: center;
}
#header #askgodlogo img {
  position: relative;
  display: inline;
  width: 100%;
}
#header #nav {
  position: relative;
  display: block;
  text-align: right;
}
#header #nav #navlinks {
  float: right;
  width: auto;
  text-align: right;
  margin-left: 0.4em;
}
#header #nav #navlinks a {
  display: inline;
  margin: 0 0 0 .5em;
}
#header #nav #navline {
  overflow: hidden;
  /* Creates a new block format context, which will make this tag fill the remaining width */
  background-color: #ffffff;
  content: '';
  height: 1px;
  position: relative;
  top: 0.6em;
}
#header #nav:after {
  content: '';
  clear: both;
  display: block;
}
.content {
  position: relative;
  margin: 0 auto;
  width: 480px;
  max-width: 96%;
  padding: 1em 1em;
  padding-top: 1em;
  min-height: 100%;
  background-color: transparent;
  /* IE10+ */
}
@media all and (max-width: 480px) {
  .content {
    padding: 1em .4em 1em;
  }
}
.content input[type=text],
.content input[type=email],
.content textarea {
  -webkit-appearance: none;
  display: block;
  border-radius: .8em;
  padding: .4em .8em .3em;
  border: 2px solid transparent;
  font-family: cabin, Tahoma, Verdana, Arial;
  font-size: 18px;
  margin: 0;
  background-color: #8080ff;
  background-color: rgba(192, 192, 222, 0.7);
  color: #ffffff;
  width: 100%;
  resize: none;
}
@media all and (max-width: 480px) {
  .content input[type=text],
  .content input[type=email],
  .content textarea {
    font-size: 18px;
  }
}
.content input[type=text]:focus,
.content input[type=email]:focus,
.content textarea:focus {
  outline: none;
  background-color: #ffffff;
  color: #555555;
  /* IE10+ */
}
.content input[type=text]:focus::-webkit-input-placeholder,
.content input[type=email]:focus::-webkit-input-placeholder,
.content textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #666666;
}
.content input[type=text]:focus::-moz-placeholder,
.content input[type=email]:focus::-moz-placeholder,
.content textarea:focus::-moz-placeholder {
  opacity: 1;
  color: #666666;
}
.content input[type=text]:focus:-moz-placeholder,
.content input[type=email]:focus:-moz-placeholder,
.content textarea:focus:-moz-placeholder {
  opacity: 1;
  color: #666666;
}
.content input[type=text]:focus::-ms-input-placeholder,
.content input[type=email]:focus::-ms-input-placeholder,
.content textarea:focus::-ms-input-placeholder {
  opacity: 1;
  color: #666666;
}
.content input[type=text]::autocomplete,
.content input[type=email]::autocomplete,
.content textarea::autocomplete {
  background-color: #ffffff;
}
.content input[type=text]::autofill,
.content input[type=email]::autofill,
.content textarea::autofill {
  background-color: #ffffff;
}
.content textarea {
  height: 10em;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}
.content ::-webkit-input-placeholder {
  opacity: 1;
  color: #ffffff;
}
.content ::-moz-placeholder {
  opacity: 1;
  color: #ffffff;
}
.content :-moz-placeholder {
  opacity: 1;
  color: #ffffff;
}
.content ::-ms-input-placeholder {
  opacity: 1;
  color: #ffffff;
}
.content p {
  position: relative;
  text-overflow: ellipsis;
  background: purple;
}
#indexpage .indexcontainer {
  display: block;
  position: relative;
  margin-bottom: 0.5em;
}
#indexpage .indexcontainer label.formlabel {
  display: block;
  position: relative;
  padding: .2em 1em;
  font-size: 15.3px;
  font-weight: bold;
  opacity: 0;
}
#indexpage .indexcontainer.rightalign {
  text-align: right;
  padding-right: 1em;
}
#indexpage .indexcontainer.centeralign {
  text-align: center;
  padding: 0 1em;
}
#indexpage #aboutcontainer {
  margin-bottom: 1.5em;
}
#indexpage #submitcontainer {
  margin-top: 1.5em;
}
#indexpage input.error,
#indexpage textarea.error {
  border: 2px solid #f46f20;
}
#indexpage label.error {
  color: #f46f20;
  position: absolute;
  top: 0em;
  right: .8em;
  padding: .2em .5em;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  font-size: 15.3px;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 480px) {
  #indexpage label.error {
    position: relative;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    top: auto;
    right: auto;
    display: block;
    width: 85%;
    margin: 0em auto 0;
  }
}
#indexpage #question {
  background-color: rgba(216, 216, 244, 0.85);
  color: #333333;
  /* IE10+ */
}
#indexpage #question::-webkit-input-placeholder {
  opacity: 1;
  color: #333333;
}
#indexpage #question::-moz-placeholder {
  opacity: 1;
  color: #333333;
}
#indexpage #question:-moz-placeholder {
  opacity: 1;
  color: #333333;
}
#indexpage #question::-ms-input-placeholder {
  opacity: 1;
  color: #333333;
}
#indexpage #question:focus {
  background-color: #ffffff;
}
