{% include 'header.html' %}


<div id="aboutcontainer">

    <div class="content" id="aboutpage">


        <div class="markdown">

            {{ markdown | raw }}

            <div id="arm_god"></div>
            <div id="arm_man"></div>
        </div>



        <script>
            window.pagejs = function() {

                $(document.links).filter(function() {
                    return this.hostname != window.location.hostname;
                }).attr('target', '_blank');

                $("#header").prependTo("#aboutcontainer");

            };
        </script>

    </div>


</div>




{% include 'footer.html' %}