


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.velocity.min.js"></script>
<script src="/js/velocity.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/fnRunPlaceholderLabel.js?v=2"></script>
<script src="/js/CloudAnimator.js?v=2"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-33260419-2', 'auto');
    ga('send', 'pageview');
</script>

<script>

    // resize content
    (function() {

//        var $backgroundimage = $(document.getElementById('backgroundimage'));
//        var $body = $('body');
//
//        var resizeBackground = function() {
//            var verticalLarger = window.innerHeight > window.innerWidth;
//            $backgroundimage.toggleClass('verticallarger', verticalLarger);
//            $body.toggleClass('verticallarger', verticalLarger);
//        };
//        resizeBackground();
//        window.addEventListener('resize', resizeBackground);

        $(function() {

            // cloud animations ;-)
            var $CloudContainer = $("#clouds");
            for (var i = 0; i < 6; i++) {
                new CloudAnimator($CloudContainer);
            }


            var changeBG = function() {
                $('body').toggleClass('bg2');
            };

            $(document).on('dblclick', changeBG);

            document.addEventListener('touchstart', function(evt) {
                if (evt.touches.length > 1) {
                    changeBG();
                }
            });

        });

    })();



    // If the page Twig template has defined a global pagejs function, let's run it
    if (typeof window.pagejs === 'function') {
        window.pagejs();
    }

</script>

</body>
</html>