


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.velocity.min.js"></script>
<script src="/js/velocity.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/fnRunPlaceholderLabel.js"></script>
<script src="/js/CloudAnimator.js"></script>

<script>

    // resize content
    (function() {

//        var $backgroundimage = $(document.getElementById('backgroundimage'));
//        var $body = $('body');
//
//        var resizeBackground = function() {
//            var verticalLarger = window.innerHeight > window.innerWidth;
//            $backgroundimage.toggleClass('verticallarger', verticalLarger);
//            $body.toggleClass('verticallarger', verticalLarger);
//        };
//        resizeBackground();
//        window.addEventListener('resize', resizeBackground);

        $(function() {

            // cloud animations ;-)
            var $CloudContainer = $("#clouds");
            for (var i = 0; i < 8; i++) {
                new CloudAnimator($CloudContainer);
            }

        });


    })();







    // If the page Twig template has defined a global pagejs function, let's run it
    if (typeof window.pagejs === 'function') {
        window.pagejs();
    }

</script>

</body>
</html>