<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/css/site.css" rel="stylesheet">

    <!-- JS -->


</head>
<body>


<div id="contentbg"></div>


<div id="header">

    <div id="askgodlogo">
        <img src="/img/askgodcomau.png" />
    </div>


    <div id="nav">

        <div id="navlinks">
            {% include 'nav.html' %}
        </div>

        <div id="navline">
            &nbsp;
        </div>

    </div>

</div>



