<!DOCTYPE html>
<html>
<head>

    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />

    <link rel="shortcut icon" href="/img/icons/favicon.ico" />
    <link rel="shortcut icon" href="/img/icons/Icon36x36.png" />


    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.askgod.com.au" />

    <meta property="og:site_name" content="AskGod.com.au" />
    <meta property="og:title" content="AskGod.com.au" />
    <meta property="og:description" content="If there were any question you could ask God, what would it be?\n Christians believe the Bible is God's inspired Word with answers to life's important questions. So if there's a question you’ve always wanted to ask, simply type it in the question box. It's that easy! If the Bible has anything to say on the issue then we'll email an answer back to you. And we promise we won't spam you afterwards." />
    <meta property="og:image" content="http://www.askgod.com.au/img/share/facebook.jpg" />

    <!-- CSS -->
    <!--<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">-->
    <link href="/css/site.css?v=3" rel="stylesheet">

    <!-- JS included in footer -->


</head>
<body class="{{ bodyclass }}">

<div id="clouds"></div>
<div id="skyoverlay"></div>

<div id="contentbg"></div>


<div id="header">

    <div id="askgodlogo">
        <img src="/img/text/askgodcomau.png" />
    </div>


    {% if nav != 'index' %}
    <div id="nav">

        <div id="navlinks">
            {% include 'nav.html' %}
        </div>

        <div id="navline">
            &nbsp;
        </div>

    </div>
    {% endif %}

</div>



