{% include 'header.html' %}

<div class="content" id="indexpage">


    <form id="indexform" action="/" method="post">


        <div class="container">
            <label class="formlabel" for="question">MY QUESTION IS _</label>
            <textarea id="question" name="question" placeholder="MY QUESTION IS _" tabindex="1"required="true" >{{ form.question }}</textarea>
        </div>

        <div class="container">
            <label class="formlabel" for="name">MY NAME IS _</label>
            <input id="name" name="name" value="{{ form.name }}" type="text" placeholder="MY NAME IS _" tabindex="2" required="true" />
        </div>

        <div class="container">
            <label class="formlabel" for="email">MY EMAIL IS _</label>
            <input id="email" name="email"  value="{{ form.email }}" type="email" placeholder="MY EMAIL IS _" tabindex="3" required="true" />
        </div>



        <div class="container centeralign" id="submitcontainer">
            <input id="submit" class="submit button" type="submit" value="SUBMIT" name="submit" />
        </div>

    </form>



    <script>

        window.pagejs = function() {

            var $form = $("#indexform");
            var formValidator = $form.validate();

            {% if forceValidation %}
                $form.valid();
            {% endif %}

            $('input, textarea').each(function() {
                window.fnRunPlaceholderLabel(this);
            });

        };


    </script>

</div>

{% include 'footer.html' %}