
{% if nav == 'index_OFF' %}
    <a class="navlink" href="/about">ABOUT</a>
{% endif %}

{% if nav == 'about' %}
    <a class="navlink" href="/events">EVENTS</a>
    <a class="navlink" href="/">HOME</a>
{% endif %}

{% if nav == 'events' %}
    <a class="navlink" href="/about">ABOUT</a>
    <a class="navlink" href="/">HOME</a>
{% endif %}

{% if nav == 'thanks' %}
    <a class="navlink" href="/">HOME</a>
{% endif %}

{% if nav == 'questions' %}
    <a class="navlink" href="/">HOME</a>
{% endif %}







{% if nav == 'admin.default' %}
    <a class="navlink" href="/">HOME</a>
    <a class="navlink" href="/admin/logout">LOGOUT</a>
{% endif %}

{% if nav == 'admin.login' %}
    <a class="navlink" href="/">HOME</a>
{% endif %}





